#content h4 {
  color: #7b4804;
  text-align: center;
  font-family: 'Actor'
}

#left_column_nav {
  background-color: #7b4804;
  height: 100em;
}

#left_column_nav a {
  color: #f6b762;  
  text-align: center;
  font-size: 120%;
  font-family: 'Actor'
}

#left_column_nav a:hover {
  background-color: #563203;
}

#container {
  height: auto;
  background-image: url("/assets/white_paper_texture.jpg");
}
.divider li {
  color: #f6b762;
}

.nav_bar_divider {
  border: #f6b762 solid 1px;
}

#social-icons{
  position:absolute;
  bottom: 50px;
  padding-left: 20px;
}

a img:hover{
  background-color: #563203;
}

footer {
  position:absolute;
  bottom: 5px;
  text-align: center;
  color: #f6b762;  
  text-align: center;
  font-size: 60%;
  font-family: 'Actor';
}
